.jewelry, .cards, .cups, .contact
    height: 100vh
    background-color: #909090
    border-top: 1px solid black



.top
    position: relative
    height: 100vh

    background-image: url('../foto/top.jpg')
    background-size: cover
    background-position: center
    background-attachment: fixed
    background-repeat: no-repeat

