*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none
*:focus
  outline: 0 !important

body


@import '_variables.sass'
@import '_nav.sass'
@import '_top.sass'
@import '_kolczyki.sass'
@import '_branzoletki.sass'
@import '_kartki.sass'
@import '_kontakt.sass'


/* width
::-webkit-scrollbar
  width: 20px
  background-color: $colorOrange

/* Track

::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px $colorOrange
  border-radius: 10px
  // border-radius: 10px
  background: white

/* Handle

::-webkit-scrollbar-thumb
  background: $colorOrange
  opacity: .7
  border-radius: 10px

  &:hover
    background: $colorOrange*0.8